@media(max-width: 1080px) {

    
    body {
        p{
           padding: 10px; 
        }
        img {
            margin-top: 35px;
            height: 325px;
        }
        
        footer{
            .footer{
                #Contatti {
                    padding: 10px;
                } 
            }
        }
    }
}
