$bg-color: #e6e6e6;
$nav-color: #fc2e2e;
$name-color: #ffa43c;
$scroll1: #ff5757;
$scroll2: #ffd857;
$col-hover1: #b92121;
$col-hover2: #bd9a28;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
  }

body {
    background-color: $bg-color;
    .obj{
        font-weight: 600;
        text-align: center;
        padding: 5px 0 5px 0;
    }
    h1 {
        font-size: 40px;
    }
    h2 {
        text-align: center;
        padding: 5px 0 5px 0;
    }
    p {
        font-size: 18px;
        padding-right: 150px;
        padding-left: 150px;
    }

        .navbar {
            background-image: linear-gradient(to bottom, $nav-color, $name-color);
            border-bottom: 1px solid #000;
            #collapsibleNavbar{
                ul {
                    li{
                        list-style-type: none;
                        padding: 0 10px 0 10px;

                        .nav-link:link, .nav-link:visited {
                            color: $bg-color;
                        }

                        .nav-link:hover {
                            color: black;
                        }

                    }
                }
            }
        }

        .presentation {
            text-align: center;
            padding: 20px 0 5px 0;
            flex-direction: column; 

            .nome-cognome {
                font-size: 40px;
            }
            .obj {
                font-size: 30px;
            }
        }


    .image{
        padding: 20px 0 20px 0;
        display: flex;
        justify-content: center;
        height: 425px;

        img {
            border-radius: 20%;
        }
        
    }

    .skills {
        
        ul{
            font-size: 18px;
            padding-right: 20%;
            padding-left: 20%;
        }

        a {
            color: black;
            text-decoration: underline;
        }

        a:hover {
            color: $col-hover2;
        }
    }

    .social {
        a {
            font-size: 75px;
            margin: 15px;
            padding: 15px;

            .fa-github {
                background-image: linear-gradient(to bottom, $nav-color, $name-color);
                color: $bg-color;
                width: 70px;
                border-radius: 4px;
            }

            .fa-instagram {
                background-image: linear-gradient(to bottom, $nav-color, $name-color);
                color: $bg-color;
                width: 70px;
                border-radius: 4px;

            }

            .fa-linkedin {
                background-image: linear-gradient(to bottom, $nav-color, $name-color);
                color: $bg-color;
                width: 70px;
                border-radius: 4px;
            }
        }
    }



    footer {
        padding-top: 15px;
        hr {
            border-top: 1px solid #6e6e6e;   
        }
        #Contact-me {
            font-size: 28px;
        }
        
        .footer {    
            padding-bottom: 25px;

            .form-group {
                padding-right: 150px;
                padding-left: 150px;

                textarea {
                    padding-bottom: 20px;
                }
                .btn-centered {
                    padding-top: 30px;
                    display: flex;
                    justify-content: center;
                    
                    .btn-primary {
                        color: $bg-color;
                        border: 1px solid $col-hover1;
                        padding: 10px 20px 10px 20px;
                        background-image: linear-gradient(to bottom, $nav-color, $name-color);
                    }

                    .btn-primary:hover {
                        background-image: linear-gradient(to bottom, $col-hover1, $col-hover2);
                    }
            }
            }
        }
    }
}

  /*Custom Scrollbar*/
    ::-webkit-scrollbar {
        width: 13px;
    }

    ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 10px rgb(161, 161, 161); 
        border-radius: 10px; 
    }
    
    ::-webkit-scrollbar-thumb {
        background-image: linear-gradient(to bottom, $scroll1, $scroll2);
        border-radius: 10px;
        border: 2px solid $bg-color;
    }

    ::-webkit-scrollbar-thumb:hover {
        background-image: linear-gradient(to bottom, $col-hover1, $col-hover2);
    }

@import 'mobile';

